/* Home.css */
.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start; /* Align items to the top */
  padding: 20px; /* Add some padding for better spacing */
}

.grey-box {
  background-color: #e0e0e0; /* Light grey */
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-container {
  margin: 10px 0;
}

.slider-label {
  margin-bottom: 5px;
  color: black;
}

input[type="range"] {
  width: 200px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.content-container {
  display: flex;
  width: 100%;
  height: 67%;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.card {
  background-color: rgb(27, 26, 26);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px; /* Increase padding for more space */
  margin: 20px; /* Increase margin for more space between cards */
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 3em; /* Increase font size */
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px 20px; /* Increase padding for larger gap */
  text-align: left;
  border-bottom: 1px solid #ddd;
}
